@import "tailwindcss";

:root {
  --background: #08080f;
  --surface: #110f1a;
  --purple: #6b21a8;
  --blue: #3b82f6;
  --text: #ffffff;
  --text-secondary: #94a3b8;
}

body {
  background-color: var(--background);
  color: var(--text);
}